#wrapper {
  display: flex;
  min-width: 100vw;
  align-items: stretch;
  position: relative;
}

#left-sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#left-sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#left-sidebar-wrapper .list-group {
  width: 15rem;
}

#wrapper.toggled-left #left-sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  width: 100%;
  padding: 20px;
}

.transition{
  transition: margin 0.25s ease-out;
}

#right-sidebar-wrapper {
  min-height: 100vh;
  margin-right: -15rem;
  display: none;
}

#right-sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#right-sidebar-wrapper .list-group {
  width: 15rem;
}

#wrapper.toggled-right #right-sidebar-wrapper {
  margin-right: 0;
}

#menu-toggle-right{
  margin-right: 2rem;
}

#menu-toggle-left{
  margin-left: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

#search{
  margin-right: 2rem;
}

#search:hover{
  background-color: #0056b3;
  color: white;
}
