<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Admin Dashboard</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light">Home</a>
      <a class="list-group-item list-group-item-action bg-light" (click)="toggleQueue()">Matchmaking Queue</a>
      <a class="list-group-item list-group-item-action bg-light" (click)="toggleGames()">Running Games</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle" (click)="toggleSidebar()">Toggle Menu</button>
    </nav>

    <div class="container-fluid">
      <h1 class="mt-4">Admin Dashboard</h1>
      @if(showQueue){
        <div>
          <h2>Matchmaking Queue</h2>
          <ul class="list-group">
            @for (player of matchMakingQueue; track player){
              <li class="list-group-item">
                {{ player }}
              </li>
            }
          </ul>
        </div>
      }
      @if (showGames){
        <div>
          <h2>Running Games</h2>
          <ul class="list-group">
            @for (game of runningGames; track game){
              <li class="list-group-item">
                Game ID: {{ game.id }}, Players: {{ game.player1 }} vs {{ game.player2 }}
                <button class="btn btn-sm btn-info" (click)="viewGame(game.id)">View</button>
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>

