<div class="d-flex" id="wrapper">
  <!-- Left Sidebar for Running Games -->
  <div class="border-right" id="left-sidebar-wrapper">
    <div class="sidebar-heading">Running Games</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action" (click)="toggleGames()"></a>
      <ul class="list-group">
        @for (game of runningGames; track game) {
          <li class="list-group-item">
            Game ID: {{ game.id }}, Players: {{ game.player1 }} vs {{ game.player2 }}
          </li>
        }
      </ul>
    </div>
  </div>
  <!-- /#left-sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle-left" (click)="toggleLeftSidebar()">Current Games</button>
      <form class="d-flex ms-auto" (submit)="onSearch()">
        <input class="form-control me-2" type="search" placeholder="Search" [(ngModel)]="searchText" name="searchText" aria-label="Search">
        <button id="search" class="btn btn-outline-success" type="submit">
          <span><i class="fa-sharp fa-solid fa-magnifying-glass"></i></span>
        </button>
      </form>
      <button class="btn btn-primary" id="menu-toggle-right" (click)="toggleRightSidebar()">Waiting Players</button>
    </nav>

    <div class="container-fluid">
      <h1 class="mt-4 ms-4">Admin Dashboard</h1>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- Right Sidebar for Matchmaking Queue -->
  <div class="border-left transition" id="right-sidebar-wrapper">
    <div class="sidebar-heading">Matchmaking Queue</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action" (click)="toggleQueue()"></a>
      <ul class="list-group">
        @for (player of this.adminService.matchMakingQueue?.queueEntries; track player) {
          <li class="list-group-item">
            {{ player.username}}
            {{ player.elo }}
            {{ player.entryTime }}
          </li>
        }
      </ul>
    </div>
  </div>
  <!-- /#right-sidebar-wrapper -->
</div>
