<div class="form-group">
  <label class="form-label">Current password</label>
  <input type="password" #currentPass [(ngModel)]="currentPassword" class="form-control">
</div>

@if(errors.get('currentPass')) {
  <div class="text-danger">
    <p>{{errors.get('currentPass')}}</p>
  </div>
}

<div class="form-group">
  <label class="form-label">New password</label>
  <input type="password" [(ngModel)]="newPassword" #newPass class="form-control">
</div>

@if(errors.get('repeatPass')) {
  <div class="text-danger">
    <p>{{errors.get('repeatPass')}}</p>
  </div>
}

<div class="form-group">
  <label class="form-label">Repeat new password</label>
  <input type="password" [(ngModel)]="repeatPassword" #repeatPass class="form-control">
</div>

@if(errors.get('repeatPass')) {
  <div class="text-danger">
    <p>{{errors.get('repeatPass')}}</p>
  </div>
}

<button class="btn btn-primary mt-3" (click)="submitChange()">Save</button>
