/* Container für die Sidebar */
#left-sidebar-wrapper {
  width: 250px;
  height: 100vh; /* Volle Höhe des Viewports */
  overflow-y: auto; /* Scrollen bei Bedarf */
}

.sidebar-heading {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
}

.list-group-item-action {
  cursor: pointer;
}

.list-group-item {
  transition: all 0.3s ease;
}

.list-group-item.expanded {
  height: auto; /* Automatische Höhe, um den Inhalt aufzunehmen */
  padding-bottom: 20px; /* Zusätzlicher Platz für Buttons */
  border: 1px solid #007bff; /* Umrandung bei Auswahl */
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.button-container button {
  width: 100%;
}

