<div class="matchmaking-container">
  <div class="left-side" id="left-side" #leftSide>
    <img src="{{ this.userService.user?.profilePictureUrl }}" alt="Your Profile" class="profile-img your-profile-img" #yourProfile>
  </div>
  <div class="middle" #middle>
    <div class="timer">{{ formattedTime }}</div>
    <div class="vs-text">VS</div>
    <button class="cancel-button" (click)="cancelMatchmaking()">Abbrechen</button>
  </div>

  <div class="right-side" id="right-side" #rightSide>
    @if (this.found){
    <img src="{{ this.tictactoeService.opponentPicture }}" alt="Opponent Profile" class="profile-img opponent-profile-img" #opponentProfile>
    }
  </div>

</div>
