<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-between">
    <!-- Gamepad Icon and Back Button (Left) -->
    <div class="d-flex align-items-center">
      <i class="fa-solid fa-gamepad gamepad-icon"></i>
      <button class="btn p-0 d-flex align-items-center ms-3" (click)="back()">
        <i class="fa-solid fa-left-long me-2"></i>
        <span>Back</span>
      </button>
    </div>

    <!-- User Info, Profile Picture, and Logout Button (Right) -->
    <div class="d-flex align-items-center">
      <button class="btn p-0 d-flex align-items-center me-3" (click)="navProfile()">
        <div class="user-info me-3 text-end">
          <div class="userName">{{ this.userService.user?.username }}</div>
          <div class="userElo">{{ this.userService.user?.elo }} Elo</div>
        </div>
        <img src="{{this.userService.user?.profilePictureUrl}}" class="profile-img" alt="yourProfile">
      </button>

      <button class="btn p-1 d-flex flex-column align-items-center" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
      </button>
    </div>
  </div>
</nav>



<div class="container light-style flex-grow-1 container-p-y">
  <h3>Your Account</h3>
  <div class="card overflow-hidden">
    <div class="row no-gutters row-bordered row-border-light">
      <!-- Options Component (Left Side) -->
      <div class="col-md-3 pt-0">
        <app-options (tabSelected)="setActiveTab($event)"></app-options>
      </div>

      <!-- Profile Content Component (Right Side) -->
      <div class="col-md-9">
        @if (activeTab === 'general') {
          <div class="tab-content">
            <!-- General Profile Info -->
            <div class="tab-pane fade active show" id="account-general">
              <app-player-content></app-player-content>
            </div>
          </div>
        }
        @if (activeTab === 'password') {
          <div class="tab-pane fade active show" id="account-change-password">
            <app-player-password-change></app-player-password-change>
          </div>
        }
      </div>
    </div>
  </div>
</div>
