<div class="background-image">
</div>
<div class="login-container">
  <!--  <div class="background-image"></div>-->
  <form #loginForm='ngForm' class="login-form">
    <h2>Login</h2>
    <div class="input-group">
      <label for="username">Username:</label>
      <input #_username
             id="username"
             [(ngModel)]="username"
             name="username"
             (keydown.enter)="onSubmit()"
             required>

      @if (errors.get('_username')) {
        <div class="text-danger">
          <p>{{ errors.get('_username') }}</p>
        </div>
      }
    </div>

    <div class="input-group">
      <label for="password">Password:</label>
      <div class="input-wrapper">
        <input
          #_password
          id="password"
          [(ngModel)]="password"
          (keydown.enter)="onSubmit()"
          name="password"
          type="{{passwordFieldType}}"
          required>
        <button type="button" (click)="togglePasswordVisibility()" class="eye-button">
          <i class="fa-solid" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
        </button>
      </div>

      @if (errors.get('_password')) {
        <div class="text-danger">
          <p>{{ errors.get('_password') }}</p>
        </div>
      }
    </div>


    <div class="button-group">
      <button type="submit" class="btn" (click)="onSubmit()">Login</button>
      <button type="button" class="btn" (click)="register()">Register</button>
    </div>

    @if (errors.get('_error')) {
      <div class="text-danger input-group mt-3">
        <p>{{ errors.get('_error') }}</p>
      </div>
    }

  </form>
</div>
