<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
      <span class="navbar-text">
        <img src="{{ this.tictactoeService.getPlayer(this.id)?.profilePictureUrl }}" class="profile-img" alt="yourProfile" #yourProfile>
        {{ this.tictactoeService.getPlayer(this.id)?.elo }}
      </span>
    <span class="navbar-text">
        {{ this.tictactoeService.getOpponent(this.id)?.elo }}
      <img src="{{ this.tictactoeService.getOpponent(this.id)?.profilePictureUrl }}" class="profile-img justify-content-end" alt="yourProfile"
           #opponentProfile>
      </span>
  </div>
</nav>


<section class="container-fluid">
  <div class="d-flex justify-content-center align-items-center">
    <div class="tictactoe-board">
      @for (cell of this.tictactoeService.games.get(this.id)?.board || []; let i = $index; track i //change to a unique tracking index) {
        <button class="tictactoe-cell" (click)="moveMove(i)">
          {{ cell }}
        </button>
      }
    </div>
  </div>
</section>

<div class="chat-wrapper">
  <app-chat [id]="this.id" [messages]="this.tictactoeService.games.get(this.id)?.chat || []"></app-chat>
</div>



