<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-between">
    <!-- Logout Button -->
    <button class="btn p-0 d-flex align-items-center" (click)="logout()">
      <i class="fas fa-door-open"></i>
    </button>

    <!-- User Info and Profile Picture -->
    <div class="d-flex align-items-center">
      <button class="btn p-0 d-flex align-items-center" (click)="navProfile()">
        <div class="user-info me-4">
          <div class="userName">{{ this.readUser.username }}</div>
          <div class="userElo">{{ this.readUser.elo }} Elo</div>
        </div>
        <img src="{{this.readProfile.profilePicture}}" class="profile-img" alt="yourProfile">
      </button>
    </div>
  </div>
</nav>

<section class="container self-margin">
  <div class="box">
    <div class="row">
      <h2 class="text-center">Willkommen bei TicTacToe Online</h2>
      <div class="col-6">
        <div class="intro-box text-center p-4">
          <p>
            Treten Sie gegen andere Spieler in einem spannenden TicTacToe-Match an!
            Nutzen Sie unser Matchmaking-System, um einen Gegner zu finden und spielen Sie direkt los.
          </p>
          <button class="btn led-button mt-4" (click)="navMatchMaking()">Jetzt Spielen</button>
        </div>
      </div>
      <div class="col-6">
        <div class="intro-box text-center p-4">
          <p>
            Treten Sie gegen eine KI in einem spannenden TicTacToe-Match an!
            Bereiten Sie sich darauf vor, gegen andere Spieler zu spielen.
            Probieren Sie den Übungsmodus, um noch besser zu werden!
          </p>
          <button class="btn led-button mt-4" (click)="navTraining()">Zum Training</button>
        </div>
      </div>
    </div>
  </div>

</section>




