<div class="d-flex" id="wrapper">
  <!-- Left Sidebar for Running Games -->
  <div class="border-right d-flex flex-column h-100" id="left-sidebar-wrapper">
    <div class="sidebar-heading">Running Games</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action" (click)="toggleGames()"></a>
      <ul class="list-group">
        @for (game of this.adminService.runningGames; track game) {
          <li class="list-group-item list-group-item-action" (click)="selectGame(game, $event)">
            Game ID: {{ game.gameId }}, Players: {{ game.player1.username }} vs {{ game.player2.username }}
          </li>
        }
      </ul>
    </div>
    <div class="mt-auto">
      <button class="btn p-0" (click)="logout()">
        <i class="fas fa-door-open"></i> <span>Sign Out</span>
      </button>
    </div>
  </div>
  <!-- /#left-sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle-left" (click)="toggleLeftSidebar()">Current Games</button>
      <form class="d-flex ms-auto">
        <div class="position-relative">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            [(ngModel)]="searchText"
            name="searchText"
            aria-label="Search"
            (keydown.enter)= "onSearch()"
          >
          @if (this.adminService.showSearchResults){
            <ul class="list-group position-absolute search-results" id="searchResults">
              @for (result of this.adminService.searchResults; track result){
                <li (click)="selectUser(result)">
                  {{result}}
                </li>
              }
            </ul>
          }
        </div>
        <button id="search" class="btn btn-outline-success" (click)="onSearch()">
          <span><i class="fa-sharp fa-solid fa-magnifying-glass"></i></span>
        </button>
      </form>


      <button class="btn btn-primary" id="menu-toggle-right" (click)="toggleRightSidebar()">Waiting Players</button>
    </nav>

    <div class="container-fluid">
      <h1 class="mt-4 ms-4">Admin Dashboard</h1>
      <div class="justify-content-start align-items-start">
        @for (game of adminService.userDetails?.games; track game.gameId){
          <div class="card">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
              <!-- Tic-Tac-Toe Board -->
              <div class="tic-tac-toe-board d-flex flex-column">
                @for (row of [0,1,2]; let i = $index; track row){
                  <div>
                    <div class="row d-flex justify-content-center">
                      @for (col of [0,1,2];let j = $index; track col){
                      <div class="cell">
                        <div>
                          @if (game.board[j*3+i] === 1){
                            <i class="icon-x"></i>
                          } @else if (game.board[j*3+i] === 2){
                            <i class="icon-o"></i>
                          }
                        </div>
                      </div>
                    }
                  </div>
                </div>
                }
              </div>

              <!-- Game Info -->
              <div class="game-info d-flex justify-content-between mt-3">
                <!-- Player 1 Info -->
                <div class="text-start">
                  <p class="mb-0"><strong>{{ game.player1.username }}</strong></p>
                  <small class="text-muted">(Elo: {{ game.player1.elo }})</small>
                </div>

                <!-- Player 2 Info -->
                <div class="text-end">
                  <p class="mb-0"><strong>{{ game.player2.username }}</strong></p>
                  <small class="text-muted">(Elo: {{ game.player2.elo }})</small>
                </div>
              </div>

              <!-- Winner Information -->
              <!-- todo: Styling -->
              @if (game.winner === "p1"){
                <p class="text-center mt-3"><strong>Winner:</strong> {{ game.player1.username }}</p>
              } @else if (game.winner === "p2"){
                <p class="text-center mt-3"><strong>Winner:</strong> {{ game.player2.username }}</p>
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- Right Sidebar for Matchmaking Queue -->
  <div class="border-left transition" id="right-sidebar-wrapper">
    <div class="sidebar-heading">Matchmaking Queue</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action" (click)="toggleQueue()"></a>
      <ul class="list-group">
        @for (player of this.adminService.matchMakingQueue?.queueEntries; track player) {
          <li class="list-group-item">
            {{ player.username }}
            {{ player.elo }}
            {{ player.entryTime }}
          </li>
        }
      </ul>
    </div>
  </div>
  <!-- /#right-sidebar-wrapper -->

  @if (selectedGame) {
    <div class="game-details-box" [ngClass]="{'show': selectedGame}"
         [ngStyle]="{'top.px': boxPosition.top, 'left.px': boxPosition.left}">
        <div class="game-details-arrow"></div>
        @if (selectedGame.player1) {
          <button class="btn btn-primary" (click)="inspectPlayer(selectedGame.player1)">
            Inspect {{ selectedGame.player1.username }}
          </button>
        }
        @if (selectedGame.player2) {
          <button class="btn btn-primary" (click)="inspectPlayer(selectedGame.player2)">
            Inspect {{ selectedGame.player2.username }}
          </button>
        }

    </div>
  }
</div>
