/* Hauptcontainer für Flex-Layout */
#wrapper {
  display: flex;
  width: 100%;
  position: relative;
  height: 100vh; /* Volle Höhe */
  overflow: hidden;
}


/* Linke Sidebar */
#left-sidebar-wrapper {
  width: 15rem;
  min-height: 100vh;
  display: none;
  transition: transform 0.25s ease-out;
  transform: translateX(-15rem); /* Verhindert den Gebrauch von Margin */
}

#page-content-wrapper {
  flex-grow: 1; /* Lässt den Hauptinhalt sich ausdehnen */
  padding: 20px;
  overflow-y: auto;
  width: calc(100% - 15rem); /* Platz für die ausgefahrene Sidebar links */
  box-sizing: border-box;
}

#wrapper.toggled-left #left-sidebar-wrapper {
  transform: translateX(0);
}

#left-sidebar-wrapper .sidebar-heading,
#right-sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

/* Rechte Sidebar */
#right-sidebar-wrapper {
  width: 15rem;
  min-height: 100vh;
  display: none;
  transition: transform 0.25s ease-out;
  transform: translateX(15rem); /* Verhindert den Gebrauch von Margin */
}

#wrapper.toggled-right #right-sidebar-wrapper {
  display: block;
  transform: translateX(0);
}

/* Hauptinhalt */
#page-content-wrapper {
  flex-grow: 1; /* Hauptinhalt kann sich ausdehnen */
}


/* Buttons */
#menu-toggle-right,
#menu-toggle-left {
  margin: 0 1rem;
}

#search {
  margin-right: 2rem;
}

#search:hover {
  background-color: #0056b3;
  color: white;
}

/* Game Details */
.game-details-box {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
  max-width: 200px;
}

.game-details-box.show {
  display: block;
}

.game-details-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent white transparent transparent;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

/* Search Results */
.search-results {
  z-index: 1000;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-results li {
  padding: 10px;
  color: black;
  border-bottom: 1px solid #e0e0e0;
}

.search-results li:last-child {
  border-bottom: none;
}

.search-results li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

/* Karten */
.card {
  max-width: 400px;
  margin: auto;
}

/* Spielinfo */
.game-info p {
  margin: 0.5rem 0;
}

.game-info strong {
  font-weight: bold;
}

.game-info span {
  font-size: 0.875rem;
  color: #6c757d;
}

/* Symbole */
.icon-x::before {
  content: 'X';
  color: #007bff;
  font-size: 2rem;
}

.icon-o::before {
  content: 'O';
  color: #dc3545;
  font-size: 2rem;
}
