<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-between">
    <!-- Logout Button -->
    <button class="btn p-0 d-flex align-items-center" (click)="logout()">
      <i class="fas fa-door-open"></i>
    </button>

    <!-- User Info and Profile Picture -->
    <div class="d-flex align-items-center">
      <button class="btn p-0 d-flex align-items-center" (click)="navProfile()">
        <div class="user-info me-4">
          <div class="userName">{{ this.userService.user?.username }}</div>
          <div class="userElo">{{ this.userService.user?.elo }} Elo</div>
        </div>
        <img src="{{this.userService.user?.profilePictureUrl}}" class="profile-img" alt="yourProfile">
      </button>
    </div>
  </div>
</nav>

<section class="container self-margin">
  <div class="intro-box text-center p-4">
    <h2>Willkommen bei TicTacToe Online</h2>
    <p>
      Treten Sie gegen andere Spieler in einem spannenden TicTacToe-Match an!
      Nutzen Sie unser Matchmaking-System, um einen Gegner zu finden und spielen Sie direkt los.
    </p>
    <button class="btn led-button mt-4" (click)="navMatchMaking()">Jetzt Spielen</button>
  </div>
</section>
<app-toast-menu
  [defined_header]="'Erfolgreiche Operation, was auch immer....'"
  [message]="'Operation completed successfully.'"
  [type]="'success'">
</app-toast-menu>




