<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-between">
    <!-- Gamepad Icon and Back Button (Left) -->
    <div class="d-flex align-items-center">
      <i class="fa-solid fa-gamepad gamepad-icon"></i>
    </div>

    <!-- User Info, Profile Picture, and Logout Button (Right) -->
    <div class="d-flex align-items-center">
      <button class="btn p-0 d-flex align-items-center me-3" (click)="navProfile()">
        <div class="user-info me-3 text-end">
          <div class="userName">{{ this.userService.user?.username }}</div>
          <div class="userElo">{{ this.userService.user?.elo }} Elo</div>
        </div>
        @if(this.userService.user?.profilePictureUrl) {
          <img src="{{this.userService.user?.profilePictureUrl}}" class="profile-img" alt="yourProfile">
        }@else {
          <img src="./assets/steve.jpeg" class="profile-img" alt="yourProfile">
        }
      </button>

      <button class="btn p-1 d-flex flex-column align-items-center" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
      </button>
    </div>
  </div>
</nav>



<section class="container self-margin">
  <div class="intro-box text-center p-4">
    <h2>Willkommen bei TicTacToe Online</h2>
    <p>
      Treten Sie gegen andere Spieler in einem spannenden TicTacToe-Match an!
      Nutzen Sie unser Matchmaking-System, um einen Gegner zu finden und spielen Sie direkt los.
    </p>
    <button class="btn led-button mt-4" (click)="navMatchMaking()">Jetzt Spielen</button>
  </div>
</section>




